* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Lora", serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: #0a0a0a;
}

.netflixWrapper {
  background-color: #0a0a0a;
}

/* hero section styles */
.netflixHeroSection {
  width: 100%;
  height: 80vh;
}

.netflixHeroSection #netflixBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroSectionContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.78);
}

/* MAIN STYLES */
.heroSectionContent .heroTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroTopBar .logo h1 {
  color: #e50914;
  font-size: 55px;
  cursor: pointer;
  font-weight: 500;
}

.heroTopBar .heroSignIn span {
  background-color: #e50914;
  color: white;
  padding: 10px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.netflixHeroText {
  margin-top: 9%;
  text-align: center;
  color: white;
}

.netflixHeroText h2 {
  font-size: 3.8em;
  font-weight: 500;
}

.netflixHeroText h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 300;
}

.netflixHeroText p {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 1.3em;
}

.netlixHeroForm form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.netflixHeroFormDiv {
  flex: 0.3;
}

.netflixHeroFormButton {
  flex: 0.1;
}

.netlixHeroForm .netflixHeroFormDiv {
  background-color: #fff;
  padding: 10px 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.netlixHeroForm .netflixHeroFormDiv input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.netlixHeroForm .netflixHeroFormButton {
  background-color: #e50914;
  color: #fff;
  padding: 21px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.7em;
  cursor: pointer;
}

.netflixSeparator {
  background-color: #333333;
  height: 8px;
  margin-bottom: 2em;
  position: relative;
}

/* top selection styles */

.netflixTopSelectionWrapper .selectionText {
  text-align: center;
}

.netflixTopSelectionWrapper .selectionText h4 {
  color: #00ed82;
  margin-bottom: 1.1em;
  font-weight: 600;
}

.netflixTopSelectionWrapper .selectionText h2,
p {
  color: #fff;
}

.netflixTopSelectionWrapper .selectionText h2 {
  font-size: 2.3em;
  margin-bottom: 1.2em;
}

.netflixTopSelectionWrapper .selectionText p {
  font-size: 1.1em;
  margin-bottom: 1em;
}

.netflixTopSelection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  position: relative;
  margin-top: 4em;
  padding-left: 20px;
  padding-right: 20px;
}

.netflixTopSelectionItem img {
  width: 100%;
  height: 630px;
  object-fit: cover;
  border-radius: 10px;
}

.netflixTopSelectionItem .netflixTopSelectionDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

/* netflix download styles */

.netflixDownloadShows {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  align-items: center;
  justify-content: center;
}

.netflixDownloadImage img {
  width: 700px;
}

.netflixDownloadText h2 {
  font-size: 3.4em;
  color: white;
  font-weight: 500;
}

.netflixDownloadText h5 {
  font-size: 1.8em;
  color: white;
  font-weight: 300;
}

/* trailers */
.netflixTestimonialsContainer h2 {
  color: white;
  margin-bottom: 1em;
  text-align: center;
  font-size: 3em;
}

.netflixTestimonialsWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 3em;
  justify-content: center;
}

.netflixTestimonialItem iframe {
  width: 550px;
  height: 540px;
}

/* footer */
.netflixFooterWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1.8em;
}

.netflixFooterWrapper ul {
  list-style: none;
}

.netflixFooterWrapper ul li {
  color: gray;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.netflixFooterWrapper ul li:hover {
  color: white;
}

.netflixFooterWrapper ul li a {
  text-decoration: none;
  color: gray;
}

.netflixFooterWrapper ul li a:hover {
  color: white;
}

/* media queries */
@media (max-width: 1580px) {
  .netflixHeroFormDiv {
    flex: 0.4;
  }

  .netflixHeroFormButton {
    flex: 0.14;
  }
}

@media (max-width: 1380px) {
  .netflixHeroFormDiv {
    flex: 0.5;
  }

  .netflixHeroFormButton {
    flex: 0.15;
  }
}

@media (max-width: 1280px) {
  .netflixHeroFormDiv {
    flex: 0.5;
  }

  .netflixHeroFormButton {
    flex: 0.2;
  }
}

@media (max-width: 900px) {
  .netflixHeroFormDiv {
    flex: 0.5;
  }

  .netflixHeroFormButton {
    flex: 0.3;
  }

  .netflixTopSelection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .netlixHeroForm form {
    display: block;
  }
  .netflixHeroFormDiv {
    margin-bottom: 10px;
  }

  .netflixHeroFormButton {
    justify-content: center;
  }

  .netflixTopSelection {
    display: grid;
    grid-template-columns: 1fr;
  }

  .netflixDownloadImage img {
    width: 100%;
  }

  .netflixDownloadShows {
    padding-left: 10px;
    padding-right: 10px;
  }

  .netflixDownloadText h2 {
    font-size: 2em;
    color: white;
    font-weight: 500;
  }

  .netflixDownloadText h5 {
    font-size: 1.8em;
    color: white;
    font-weight: 300;
  }
}

@media (max-width: 600px) {
  .netflixHeroText h2 {
    font-size: 2em;
    font-weight: 500;
  }

  .netflixHeroText h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 300;
  }

  .netflixHeroText p {
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 1em;
  }

  .netflixTestimonialItem iframe {
    width: 450px;
    height: 540px;
  }

  .netflixDownloadText h2 {
    font-size: 2em;
  }
}

@media (max-width: 500px) {
  .netflixTestimonialItem iframe {
    width: 400px;
    height: 430px;
  }
}

@media (max-width: 410px) {
  .netflixTestimonialItem iframe {
    width: 380px;
    height: 430px;
  }

  .heroTopBar .logo h1 {
    font-size: 40px;
  }
}

@media (max-width: 380px) {
  .netflixTestimonialItem iframe {
    width: 300px;
    height: 430px;
  }

  .netflixDownloadText h2 {
    font-size: 0.5em;
  }
}

@media (max-width: 300px) {
  .netflixTestimonialItem iframe {
    width: 250px;
    height: 300px;
  }

  .heroSectionContent .heroTopBar {
    display: block;
  }

  .heroTopBar .logo h1 {
    margin-bottom: 18px;
  }
  .heroTopBar .heroSignIn span {
    text-align: center;
    margin-bottom: 18px;
  }

  .netflixHeroText {
    margin-top: 10%;
    text-align: left;
    color: white;
  }

  .netflixHeroSection {
    width: 100%;
    height: 100vh;
  }
  .overlay {
    height: 100vh;
  }
}

@media (max-width: 380px) {
  .heroSectionContent {
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 300px) {
  .heroSectionContent {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
